<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFileAppender" fileName="/Users/priyanshugour/Desktop/titan/Logs/titan-%d{yyyy-MM-dd}.log"
                     filePattern="/Users/priyanshugour/Desktop/titan/Logs/titan-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
        <Logger name="com.infinite.titan" level="debug" additivity="false">
            <AppenderRef ref="RollingFileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
    </Loggers>
</Configuration>